* {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.div-container {
  display: grid;
  place-items: center;

}

.navbar {
  padding: 0px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 30px;
}

.main-container {
  max-width: 100%;
}


.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;

}

.div-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;


}

.bi-person-circle {
  font-size: 40px;
}

/* .cards{
    display: grid;
    place-items: center ;
    grid-template-columns: 1fr 1fr;
    gap: 30px
} */
#btnlogin {
  padding: 200px;
}


@media (max-width: 360px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

}